<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet"
    href="{{ url_for('static', filename="css/books.css") }}">
    <title>Book Analaysis</title>
</head>
<body>
    {% include "header.html" %}
    <ul class="books">
    {% for book in books %}
    <li class="book">
        <h2 class="title">{{book.title}}</h2>
        <span class="author">{{book.authors|join(', ')}}</span>
        <div class="book-container">
        <img class="cover-image" src="{{ url_for('static', filename='../' + book.image)}}"/>
        <div class="info-container">
            <span class="info">Length of book in words:
                <span class="value">
                {{book.n_words}}
                </span>
            </span>
            <span class="info">Length of book in characters:
                <span class="value">
                {{book.n_chars}}
                </span>
            </span>
            <span class="info">Number of unique words used:
                <span class="value">
                {{book.n_words_unique}}
                </span>
            </span>
            <span class="info">Number of unique words used only once:
                <span class="value">
                {{book.n_words_used_once}}
                </span>
            </span>
            <span class="info">Percentage of unique words used only once:
                <span class="value">
                {{(book.n_words_used_once / book.n_words_unique * 100)|int}}%
                </span>
            </span>
            <span class="info">Number of unique characters used:
                <span class="value">
                {{book.n_chars_unique}}
                </span>
            </span>
            <span class="info">Number of unique characters used only once:
                <span class="value">
                {{book.n_chars_used_once}}
                </span>
            </span>
            <span class="info">Percentage of unique characters used only once:
                <span class="value">
                {{(book.n_chars_used_once / book.n_chars_unique * 100)|int}}%
                </span>
            </span>
        </div>
        </div>
        <div class="button-container">
            <button type="button">
                <a href="/api/books/{{book.file_hash}}">
                See more details
            </a>
            </button>
       </div>

    </li>
    {% endfor %}
    </ul>
   </body>
</html>
